.wrapper {
    margin: 0 auto;
    width: 1100px;
}

.banner {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    text-align: center;
    color: rgba(78, 69, 66, 1);
    
    h1 {
        font-size: 54px;
        letter-spacing: -1px;
        padding: 20px;
        font-weight: 600;
    }
    p{
        font-size: 1.5em;
        letter-spacing: -0.25px;
        padding: 50px 0;
    }
}