@media only screen and (max-width: 700px){
    .menu {
        display: inherit;
    }
    .nav__links {
        display: none;
    }
    body section {
        padding: 3em 0 2em 0;
        .banner {
            width: 90%;
            margin-bottom: 7rem;
            h1{
                font-size: 48px;
                padding-top:1rem;
            }
            p {
                padding: 0.5em;
                font-size: 23px;
            }
        }
        .modal {
            .modal__content{
                width:350px;
                 height:250px;
            }
            .modal__text{
                padding:0.5rem;
                h2{
                    font-size: 0.9rem;
                }
                p{
                    font-size: 0.43rem;
                }
            a img {
                width: 15px;
                height: 15px;
                margin:0.2rem;
                }
            }
        }
        .modal__close{
            color: rgba(78, 69, 66, 1);
            font-size: 1.3em;
            position: absolute;
            top: 0.25em;
            right: 0.75em;
        }
    }
}

@media only screen and (max-width: 768px){
    section {
        .modal {
            .modal__content{
                width:650px;
                 height:420px;
            }
            .modal__text{
                h2{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 0.7rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 360px){
    body section {
        padding: 2em 0 2em 0;
        .banner {
            width: 98%;
            margin-bottom: 5em;
            h1{
                font-size: 42px;
            }
            p {
                padding: 0.5em;
                font-size: 20px;
            }
        }
        .card{
            h1{
                font-size: 22px;
            }
            p{
                font-size: 14px;
                padding: 1rem;
            }

        }
        .card__mod-1{
            .about{
                font-size: 14px;
            }
        }
        .card__mod-2{

            .about{
                font-size: 14px;
                padding: 1rem 1.5rem 1rem 1.5rem;
            }
            .profile__img{
                margin-top: -85px;
            }
        }

        .modal {
            .modal__content{
                width:290px;
                height:200px;
            }
            .modal__img{
                    display:none;
            }
            .modal__text{
                height: 100%;
                width: auto;
                padding: 1rem;
                align-items: center;
                h2{
                    font-size: 0.9rem;
                    padding-bottom: 0.25em;
                }
                p{
                    font-size: 0.35rem;
                    padding: 0.55em 0;
                }
                a img {
                        width: 20px;
                        height: 20px;
                        margin:0.2rem;
                }
            }

            .modal__close{
                color: rgba(78, 69, 66, 1);
                font-size: 1.6em;
                position: absolute;
                top: 0.25em;
                right: 0.75em;
            }
        }
    }
}